{% load static %}
<section class="section">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 my-3 pe-lg-12">
            <h6 class="text-primary">About Us</h6>
            <h3 class="h1">Tavan Infratech</h3>
            <P class="lead">Tavan Infratech is promoted by experienced entrepreneur and is headed by Mr. Rajendra
               Lokwani. He is Civil Engineering graduate of 1980 and has extensive Design and Execution
               experience in all facets of Civil Construction with particular focus on Irrigation Projects. 
            </P>
            <P class="lead">After graduation he has served for about 33 years with Madhya Pradesh Water Resources
               Department and took VRS in September 2014 to join Tavan Infratech, promoted by Mrs.
               Chandna Lokwani in year 2010. She is Post graduate in Math's discipline and is responsible for
               overall management of the company.
            </P>
            <p class="lead">She is also well versed with CADD and other operating
               systems and has been working on various projects in individual capacity for more than ten
               years for Survey and Design activities for Irrigation, Roads and Railway projects.
            </p>
            <p class="lead">Tavan Infratech was reconstituted as Limited Liability partnership in January 2017, Directors
               being Mr. Rajendra Lokwani, Mrs. Chandna Lokwani and Ms. Tanya Lokwani. 
            </p>
            <div class="pt-5">
               <a class="btn btn-primary me-3" href="/about_us">
               <span class="btn--text">Read More</span>
               <span class="arrow"></span>
               </a>
            </div>
         </div>
         <div class="col-lg-6 my-3">
           
                  <img src="{% static 'main/img/about_image.jpg' %}" title="" alt="">
               
      </div>
   </div>
</section>