<!DOCTYPE html>
<html lang="zxx">
   {% load static %}
   <head>
      <title>Achievements</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {% include 'css.html' %}
   </head>
   <body>
      <!-- Preload -->
      <div id="loading" class="preloader">
         <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
         </div>
      </div>
      <!-- End Preload -->
      <!-- Header -->
      <div class="header-height-bar"></div>
      {% include 'header.html' %}
      <!-- Header End -->
      <!-- Main -->
      <main>
         <!-- Page Title -->
         <section class="section parallax effect-section page-heading" style="background-image: url({% static 'main/img/bg-2.jpg' %});">
            <div class="mask bg-dark opacity-8"></div>
            <div class="container position-relative">
               <div class="row align-items-center justify-content-center">
                  <div class="col-lg-8 text-center">
                     <h1 class="display-4 text-white m-0">Achievements</h1>
                     <ol class="breadcrumb light mb-0 mt-3 justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home /</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Achievements</li>
                     </ol>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Page Title -->
         <!-- Section -->
         <!-- Page Title -->
         <!-- End Page Title -->
         <!-- Section -->
         <div class="section">
            <div class="container">
               <div class="row align-items-start">
                  <div class="col-lg-12">
                     <article>
                     <h3>Notable Achievements</h3>
                     <ol class="list-type-01 pt-2 mb-4">
                        <li>Layout of Harsi high level tunnel during excavation from both ends is a very specific and
                            demanding assignment. The work was carried out with Total Station using reflector and
                            way batch etc. The task was to realign the tunnel which was shifted by 50 cm.</li>
                        <li>Driving 3.30 m dia Sip Kolar Tunnel of 3800 m long has been carried out under
                            supervision and control of Mr. Rajendra Lokwani, then posted as Executive engineer for
                            the Project. Work was executed within 17 months including 1000 m long day lighting
                            event. The progress was 200 m per month.</li>
                        <li>Design &amp;Construction drawing of three medium Irrigation project for about 23000 Ha
                            Irrigation canal network development work, including survey, planning, design, design
                            of structures, including RCC Box aqueduct and MS pipe Aqueduct.</li>
                        <li>Design drawing and PMC work of 3300 m diameter PSC pipe canal at an average depth
                            of 10.0 m and maximum depth of 16.00 m in soil.</li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Section -->
         <!-- End Section -->
      </main>
      <!-- End Main -->
      <!-- Footer -->
      {% include 'footer.html' %}
      {% include 'js.html' %}
   </body>
   <!-- end body -->
</html>