<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% include 'css.html' %}
</head>

<body>
    <!-- Skippy -->
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
        <div class="container">
            <span class="u-skiplink-text">Skip to main content</span>
        </div>
    </a>
    <!-- End Skippy -->
    <!-- Preload -->
    <div id="loading" class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- End Preload -->
    <!-- Header -->
    <div class="header-height-bar"></div>
    {% include 'header.html' %}
    <!-- Header End -->
    <!-- Main -->
    <main>
        <!-- Page Title -->
        <section class="section parallax effect-section page-heading" style="background-image: url({% static 'main/img/banner3.jpg' %});">
            <div class="mask bg-dark opacity-8"></div>
            <div class="container position-relative">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h1 class="display-4 text-white m-0">Projects</h1>
                        <ol class="breadcrumb light mb-0 mt-3 justify-content-center">
                            <li class="breadcrumb-item"><a href="#">Home /</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Projects</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Page Title -->
        <!-- Section -->
        <section class="section bg-gray-100">
            <div class="container">
               <div class="row justify-content-center section-heading">
                  <div class="col-lg-8 col-xl-7 text-center">
                     <h6 class="text-primary">Our Work</h6>
                     <h3 class="h1">Recent Projects</h3>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-4 my-3">
                     <div class="card">
                        <div class="card-body text-center py-lg-8">
                           <h5 class="mb-3">Design and Construction Drawings for Two Major Barrages on Narmada River,
                              2 nos ,25MW Hydel Power Plants and 1.50lac (GCA) Hectare Pressurized
                              Irrigation works.
                           </h5>
                           <p class="m-0px">Cost Of project: Rs.5162.44 Cr</p>
                           <p class="m-0px">Client: RVR -NEL JV</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 my-3">
                     <div class="card">
                        <div class="card-body text-center py-lg-8">
                           <h5 class="mb-3">Design and detailed engineering services for development of Pressured Irrigation
                             with Pivot &amp; Sprinkler (1956-2669 ha).
                           </h5>
                           <p class="m-0px">Cost Of project: USD 27.85 Million (206.09 Cr.)</p>
                           <p class="m-0px">Client: Afcons Infrastructure ltd &amp; Vijeta Projects &amp; Infrastructure Ltd. JV</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 my-3">
                     <div class="card">
                        <div class="card-body text-center py-lg-8">
                           <h5 class="mb-3">Design and Construction Drawings for Two Major Project on tributaries of
                             Narmada River in District Hoshangabad.
                           </h5>
                           <p class="m-0px">Cost Of project: Rs.5162.44 Cr</p>
                           <p class="m-0px">Client: Navyuga Engineering Company Limited</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 my-3">
                    <div class="card">
                       <div class="card-body text-center py-lg-8">
                          <h5 class="mb-3">Design and Construction Drawings for Medium Concrete and Earthen Dam and
                            structures for EPC Project.
                          </h5>
                          <p class="m-0px">Cost Of project: Rs.88.00 Cr</p>
                          <p class="m-0px">Client: Sarotia Valji Ratna Construction Pvt ltd.</p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 my-3">
                    <div class="card">
                       <div class="card-body text-center py-lg-8">
                          <h5 class="mb-3">Design and Construction Drawings for Medium Concrete and Earthen Dam and
                            structures for EPC Project.
                          </h5>
                          <p class="m-0px">Cost Of project: Rs.88.00 Cr</p>
                          <p class="m-0px">Client: L &amp; T Geo Structure, Chennai</p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 my-3">
                    <div class="card">
                       <div class="card-body text-center py-lg-8">
                          <h5 class="mb-3">Design and drawing of railway structures for Bina Katni III rd line Minor bridges,
                            Box culvert , RCC retaining wall ,and GAD , as built drawing.
                          </h5>
                          <p class="m-0px">Cost Of project: Rs.77.00 Cr</p>
                          <p class="m-0px">Client: Sarotia Valji Ratna Construction Pvt ltd.</p>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 my-3">
                    <div class="card">
                       <div class="card-body text-center py-lg-8">
                          <h5 class="mb-3">Design and Construction Drawings for Raw water &amp; Clean water Pipe line
                            project and inline structures.
                          </h5>
                          <p class="m-0px">Cost Of project: Rs.200 Cr</p>
                          <p class="m-0px">Client: Concrete Udyog Ltd, Jhansi (Uttar Pradesh)</p>
                       </div>
                    </div>
                 </div>
               </div>
            </div>
         </section>
        <!-- End Section -->
        {% include 'testimonials.html' %}
        <!-- End Section -->
    </main>
    <!-- End Main -->
    <!-- Footer -->
    {% include 'footer.html' %}
    {% include 'js.html' %}
</body>
<!-- end body -->
</html>