{% load static %}
<section class="section bg-gray-100">
   <div class="container">
      <div class="row justify-content-center section-heading">
         <div class="col-lg-8 col-xl-7 text-center">
            <h6 class="text-primary">Our Work</h6>
            <h3 class="h1">Recent Projects</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 my-3">
            <div class="card">
               <div class="card-body text-center py-lg-8">
                  <h5 class="mb-3">Design and Construction Drawings for Two Major Barrages on Narmada River,
                     2 nos ,25MW Hydel Power Plants and 1.50lac (GCA) Hectare Pressurized
                     Irrigation works.
                  </h5>
                  <p class="m-0px">Cost Of project: Rs.5162.44 Cr</p>
                  <p class="m-0px">Client: RVR -NEL JV</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 my-3">
            <div class="card">
               <div class="card-body text-center py-lg-8">
                  <h5 class="mb-3">Design and detailed engineering services for development of Pressured Irrigation
                    with Pivot &amp; Sprinkler (1956-2669 ha).
                  </h5>
                  <p class="m-0px">Cost Of project: USD 27.85 Million (206.09 Cr.)</p>
                  <p class="m-0px">Client: Afcons Infrastructure ltd &amp; Vijeta Projects &amp; Infrastructure Ltd. JV</p>
               </div>
            </div>
         </div>
         <div class="col-lg-4 my-3">
            <div class="card">
               <div class="card-body text-center py-lg-8">
                  <h5 class="mb-3">Design and Construction Drawings for Two Major Project on tributaries of
                    Narmada River in District Hoshangabad.
                  </h5>
                  <p class="m-0px">Cost Of project: Rs.5162.44 Cr</p>
                  <p class="m-0px">Client: Navyuga Engineering Company Limited</p>
               </div>
            </div>
         </div>
         <center>
            <div class="pt-5">
               <a class="btn btn-primary me-3" href="/project">
               <span class="btn--text">View More</span>
               <span class="arrow"></span>
               </a>
            </div>
         </center>
      </div>
   </div>
</section>