{% load static %}
<section class="section">
   <div class="container">
      <div class="row justify-content-center section-heading">
         <div class="col-lg-8 col-xl-7 text-center">
            <h6 class="text-primary">Our Services</h6>
            <h3 class="h1">Tavan's Best Services</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6 col-lg-4 my-3">
            <div class="card overflow-hidden hover-top">
               <div class="position-relative">
                  <img class="card-img-top" src="{% static 'main/img/images/1.jpg' %}" title="" alt="">
               </div>
               <div class="card-body">
                  <h5>Irrigation works</h5>
                  <p class="pt-1">Irrigation works play a crucial role in construction projects, ensuring the efficient distribution of water to support the growth and maintenance of vegetation, control erosion, and optimize overall project sustainability. This article provides an overview of irrigation works, highlighting their importance in construction and the key factors to consider when implementing an irrigation system.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-lg-4 my-3">
            <div class="card overflow-hidden hover-top">
               <div class="position-relative">
                  <img class="card-img-top" src="{% static 'main/img/images/2.jpg' %}" title="" alt="">
               </div>
               <div class="card-body">
                  <h5>Concrete dams</h5>
                  <p class="pt-1">Concrete dams are marvels of engineering that provide crucial infrastructure for water resource management, flood control, hydroelectric power generation, and irrigation. With their immense strength and durability, concrete dams play a vital role in ensuring the safe storage and controlled release of water, benefiting societies around the world.</p>
               </div>
            </div>
         </div>
         <div class="col-sm-6 col-lg-4 my-3">
            <div class="card overflow-hidden hover-top">
               <div class="position-relative">
                  <img class="card-img-top" src="{% static 'main/img/images/3.jpg' %}" title="" alt="">
               </div>
               <div class="card-body">
                  <h5>Earthen dams</h5>
                  <p class="pt-1">Earthen dams, also known as earth dams or embankment dams, are one of the oldest and most common types of dams constructed worldwide. These dams are primarily made of compacted soil, rock, clay, and other natural materials to impound water or create a reservoir. They have been used for centuries to store water for irrigation, generate hydropower, provide flood control, and support various industrial and agricultural activities.</p>
               </div>
            </div>
         </div>
      </div>
      <center>
         <div class="pt-5">
            <a class="btn btn-primary me-3" href="/services">
            <span class="btn--text">View More</span>
            <span class="arrow"></span>
            </a>
         </div>
      </center>
   </div>
</section>