{% load static %}
<div class="owl-carousel owl-nav-rounded" data-items="1" data-nav-arrow="true" data-nav-dots="false" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoplay="true">
   <div class="bg-center bg-cover" style="background-image: url({% static 'main/img/slider/slider5.jpg' %});">
   <div class="bg-black opacity-4 mask"></div>
      <div class="container position-relative">
         <div class="row min-vh-85 align-items-center justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7 text-center py-10">
               <h4 class="display-1 text-white mb-3">Connecting Dreams, Paving the Way: Tavan Infratech, Building Roads and Bridges </h4>
               <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div> -->
         </div>
      </div>
   </div>
   <div class="bg-center bg-cover" style="background-image: url({% static 'main/img/slider/slider6.jpg' %});">
      <div class="bg-black opacity-4 mask"></div>
      <div class="container position-relative">
         <div class="row min-vh-85 align-items-center justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7 text-center py-10">
               <h1 class="display-1 text-white mb-3">We Are Best Builders In The world </h1>
               <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div> -->
         </div>
      </div>
   </div>
   <div class="bg-center bg-cover" style="background-image: url({% static 'main/img/slider/slider1.jpg' %});">
      <div class="bg-black opacity-4 mask"></div>
      <div class="container position-relative">
         <div class="row min-vh-85 align-items-center justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7 text-center py-10">
               <h1 class="display-1 text-white mb-3">Revolutionizing Agriculture with LIS Pressurized Irrigation</h1>
               <p class="lead text-white">We're reshaping the future of agriculture, maximizing yield and conserving water delivering efficient irrigation solutions that fuel agricultural growth.</p>
            </div> -->
         </div>
      </div>
   </div>
   <div class="bg-center bg-cover" style="background-image: url({% static 'main/img/slider/slider2.jpg' %});">
      <div class="bg-black opacity-4 mask"></div>
      <div class="container position-relative">
         <div class="row min-vh-85 align-items-center justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7 text-center py-10">
               <h1 class="display-1 text-white mb-3">We Are Best Builders In The world </h1>
               <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div> -->
         </div>
      </div>
   </div>
   <div class="bg-center bg-cover" style="background-image: url({% static 'main/img/slider/slider3.jpg' %});">
      <div class="bg-black opacity-4 mask"></div>
      <div class="container position-relative">
         <div class="row min-vh-85 align-items-center justify-content-center">
            <!-- <div class="col-lg-8 col-xl-7 text-center py-10">
               <h1 class="display-1 text-white mb-3">We Are Best Builders In The world </h1>
               <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div> -->
         </div>
      </div>
   </div>
</div>