{% load static %}
<section class="py-7">
   <div class="container border-radius-1rem p-7 my-7">
      <div class="row">
         <center>
            <div class="row">
                <div class="col-sm-4 p-0">
                    <img src="{% static 'main/img/about-4.jpg' %}" title="" alt="" class="border-radius-1rem box-shadow-none">
                </div>
                <div class="col-sm-8">

                  <div class="row justify-content-center section-heading mb-3">
                     <div class="">
                        <h4 class="text-primary">Mr. Rajendra Lokwani (Managing Director)</h4>
                     </div>
                  </div>
                    <p class="align-text-justify px-5">
                     He is Civil Engineering graduate of 1980 and has extensive Design and Execution
                     experience in all facets of Civil Construction with particular focus on Irrigation Projects,
                     Railway and Road -Bridges. After graduation he has served for about 33 years with
                     Madhya Pradesh Water Resources Department. During his services he has designed
                     many Major, Medium and Minor Irrigation projects. He has been posted in field and
                     during filed services, he was in charge of construction of medium and Minor concrete
                     and earthen dam. He was also in charge of Sip Kolar link project, where he has executed
                     3800 m tunnel in 17 months. He has having a reach experience in designing of Concrete
                     dam, earthen dam , Open irrigation system ,Pressurized irrigation system , Lift Irrigation
                     projects , Tunnel designing , Railway structures like major and minor bridges ,Road
                     works and Road bridges.
                  </p>
                </div>
            </div>
         </center>
      </div>
   </div>

   <div class="container border-radius-1rem p-7 my-7">
      <div class="row">
         <center>
            <div class="row">
                <div class="col-sm-4 p-0">
                    <img src="{% static 'main/img/about-4.jpg' %}" title="" alt="" class="border-radius-1rem box-shadow-none">
                </div>
                <div class="col-sm-8">

                  <div class="row justify-content-center section-heading mb-3">
                     <div class="">
                        <h4 class="text-primary">Mr. Bharat Gosavi (Retired Chief Engineer)<br> (Technical Advisor Dam &amp; Micro Irrigation Engineering)</h4>
                     </div>
                  </div>
                    <p class="align-text-justify px-5">
                     Mr Bharat Gosavi has 41 years of rich experience of working in MP Water Resources
                     Department in Operation, Maintenance, Design and Construction of Medium and
                     Large Irrigation Structures like Earthen and Concrete Dams, Canal Systems, Spillways,
                     etc during his tenure in the capacity of Assistant Engineer, Executive Engineer,
                     Superintending Engineer and Chief Engineer, Bodhi.
                  </p>
                     <p>
                        He has been instrumental during planning, Design and Construction of Indira Sagar
                        Project, forming largest reservoir of the country. He was also facilitated by the then
                        Prime Minister, Mr. Narendra Modi; for Design of Mohanpura Multipurpose Project at
                        Rajgarh M.P., in very short time, resulting into timely completion of the project,  and for
                        increasing project Command Area from 65,000 Ha to 1,10,000 Ha by employing
                        Pressurized Irrigation System
                  </p>
                </div>
            </div>
         </center>
      </div>
   </div>

   <div class="container border-radius-1rem p-7 my-7">
      <div class="row">
         <center>
            <div class="row">
                <div class="col-sm-4 p-0">
                    <img src="{% static 'main/img/about-4.jpg' %}" title="" alt="" class="border-radius-1rem box-shadow-none">
                </div>
                <div class="col-sm-8">

                  <div class="row justify-content-center section-heading mb-3">
                     <div class="">
                        <h4 class="text-primary">Mr. Mukul Mittal (Technical lead for Pressurized and E&amp;M Works)</h4>
                     </div>
                  </div>
                    <p class="align-text-justify px-5">
                     <p>He is Mechanical Engineering Graduate of Class of 1979 from MACT, Bhopal and has
                        more than 42 years of rich hands-on experience in Manufacturing, Civil
                        Construction,
                        Consulting and Design services for Pressurized Irrigation Projects, Pump house,
                        Mini
                        Hydel plants and Substation Switch yard &amp; E&amp;M works.</p>
                  </p>
                </div>
            </div>
         </center>
      </div>
   </div>
</section>