{% load static %}
<style>
    .vision-text{
        font-size: 20px;
    }

    .header-gradient-text{
        font-size: 3rem;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-image: linear-gradient(to bottom, #ffffff, #c4c4c4, #8d8d8d, #595959, #2a2a2a);
    }

    .border-radius-1rem{
        border-radius: 1rem;
        box-shadow: 0rem 0rem .4rem rgba(0, 0, 0, 0.1);
    }

    .m-max{
        margin: 3.5rem 0rem;
    }

    .align-text-justify{
        text-align: justify;
    }
</style>
<section class="m-max">
   <div class="container p-5 border-radius-1rem">
       <div class="row justify-content-center section-heading mb-0">
           <div class="col-lg-12 col-xl-12 text-center my-5">
               <h3 class="h1 header-gradient-text">Vision of Firm</h3>
               <p class="vision-text">Sustained quality, innovative and cost-effective planning, designing and
                supervision by adopting experience and state of the art technologies for
                delivering value added services aimed at customer delight.</p>
           </div>
       </div>
   </div>
</section>